## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nome,US,64.5011,-165.4064,12.27,52,0,20.71,clear sky
1,1,Tuktoyaktuk,CA,69.4541,-133.0374,-16.60,69,75,8.05,light snow
2,2,Gustavo Diaz Ordaz,MX,26.2333,-98.5833,82.04,71,36,4.00,scattered clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,44.22,81,75,28.77,light rain
4,4,Bria,CF,6.5423,21.9863,74.52,75,99,7.61,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [5]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Bria,CF,6.5423,21.9863,74.52,75,99,7.61,overcast clouds
6,6,Nouadhibou,MR,20.9310,-17.0347,71.58,73,20,12.66,few clouds
8,8,Geraldton,AU,-28.7667,114.6000,64.81,94,4,8.05,clear sky
10,10,Maldonado,UY,-34.6667,-54.9167,67.39,30,0,11.74,clear sky
15,15,George,ZA,-33.9630,22.4617,62.15,82,20,0.00,few clouds
22,22,Cape Town,ZA,-33.9258,18.4232,65.88,84,20,11.50,few clouds
24,24,Wanning,CN,18.8003,110.3967,68.29,84,92,6.80,overcast clouds
28,28,Hilo,US,19.7297,-155.0900,70.25,88,75,6.91,light rain
35,35,Port Alfred,ZA,-33.5906,26.8910,65.17,80,2,4.00,clear sky
37,37,East London,ZA,-33.0153,27.9116,67.14,82,20,11.50,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                161
City                   161
Country                157
Lat                    161
Lng                    161
Max Temp               161
Humidity               161
Cloudiness             161
Wind Speed             161
Current Description    161
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Bria,CF,6.5423,21.9863,74.52,75,99,7.61,overcast clouds
6,6,Nouadhibou,MR,20.9310,-17.0347,71.58,73,20,12.66,few clouds
8,8,Geraldton,AU,-28.7667,114.6000,64.81,94,4,8.05,clear sky
10,10,Maldonado,UY,-34.6667,-54.9167,67.39,30,0,11.74,clear sky
15,15,George,ZA,-33.9630,22.4617,62.15,82,20,0.00,few clouds
...,...,...,...,...,...,...,...,...,...,...
697,697,Puquio,PE,-14.7000,-74.1333,61.41,57,53,7.74,broken clouds
698,698,Ulladulla,AU,-35.3500,150.4667,61.70,81,1,4.27,moderate rain
700,700,Punta De Bombon,PE,-17.1717,-71.7931,71.65,72,44,8.99,scattered clouds
702,702,De Aar,ZA,-30.6497,24.0123,63.63,27,0,12.64,clear sky
705,705,Aksu,CN,41.1231,80.2644,62.60,21,0,4.70,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bria,CF,74.52,overcast clouds,6.5423,21.9863,
6,Nouadhibou,MR,71.58,few clouds,20.9310,-17.0347,
8,Geraldton,AU,64.81,clear sky,-28.7667,114.6000,
10,Maldonado,UY,67.39,clear sky,-34.6667,-54.9167,
15,George,ZA,62.15,few clouds,-33.9630,22.4617,
22,Cape Town,ZA,65.88,few clouds,-33.9258,18.4232,
24,Wanning,CN,68.29,overcast clouds,18.8003,110.3967,
28,Hilo,US,70.25,light rain,19.7297,-155.0900,
35,Port Alfred,ZA,65.17,clear sky,-33.5906,26.8910,
37,East London,ZA,67.14,few clouds,-33.0153,27.9116,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bria,CF,74.52,overcast clouds,6.5423,21.9863,Bria
6,Nouadhibou,MR,71.58,few clouds,20.9310,-17.0347,Nouadhibou
8,Geraldton,AU,64.81,clear sky,-28.7667,114.6000,Geraldton
10,Maldonado,UY,67.39,clear sky,-34.6667,-54.9167,Chacra Gaia
15,George,ZA,62.15,few clouds,-33.9630,22.4617,George

In [20]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [25]:
# 11b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))